<!DOCTYPE html>
<html>
<head>
  <title>GMProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

 <div class="container">
    <!-- Display Partial Template -->
    <%= render "common/navbar" %>
    <!-- Display app/View -->
    <%= yield %>
 </div>

</body>
</html>
